.add-book-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  padding: 20px;
}

.input {
  height: 40px;
  width: 225px;
  font-size: 13px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.submit-btn {
  height: 36px;
  width: 80px;
  font-size: 15px;
  background-color: #11d896;
  border-radius: 6px;
  border-width: 0px;
  color: #ffffff;
  margin-top: 10px;
}
.add-book-status {
  color: rgb(43, 236, 43);
  font-family: 'Roboto';
  font-size: 16px;
}
